[2018-04-29 13:35] palash25 opened #1 "An online judge"
An online judge is needed by the community to practice their coding skills and also to host competitions during fests such as Advaita.

This issue description is a WIP and I will add more details after dinner.

[2018-04-29 13:37] palash25 opened #2 "A CTF hosting platform"
Something similar to what IIT Roorkee has http://backdoor.sdslabs.co/

Tech Stack to be decided later but we would have to use docker containers for sure

[2018-04-29 13:48] palash25 opened #3 "Project Sharing Platform"
A nice platform to share files related to shitty college projects that none of like to do. Also a great platform to cheat off of each other.

**Originally proposed by:** @ariijeetsat

[2018-04-29 13:51] palash25 opened #4 "Turn p-society into a Mozilla campus club"
This is a work in progress and I am in talks with Mozilla.

People responsible @palash25 and @iamravitejag

[2018-04-29 13:57] palash25 opened #5 "IIIT Dev Net"
A place to connect with seniors having common interests in software development and find potential mentors.

Think of this site https://projects.coala.io/#/projects but instead of the projects it has developer profiles

The name is just a placeholder till we come up with a better name. Feel free to comment below your suggestions.

<blockquote><img src="favicon.ico" width="48" align="right"><div><s

[2018-04-29 14:01] palash25 opened #6 "OWASP chapter"
Currently there is no OWASP chapter in Bhuabneswar. We might be able to get OWASP to set one up in our college. This will be a great boost to the infosec community of our college and all of Bhubaneswar.

We need to do this with the folks from our infosec society.

[2018-04-29 14:14] palash25 opened #7 "P-Soc FOSS Wing Site"
Our little club has a lot of open source contributors and I was thinking about having a little site dedicated to all the open source activities.

A list of all the open source developers from the college.
A list of all the projects/orgs that all the stuednts have contributed to so far.
A list of conferences that the students went to or gave a talk at.
SOC or WOC programmes that the students have p

[2018-04-29 14:18] palash25 opened #8 "Creation of SIGs"
We need to create special interests groups within our organization. Originally suggested by sudoankit when he talked to us during the first meeting of the programming society.

[2018-04-29 14:28] palash25 opened #9 "Ideas for sessions for the next year"
These are the ones that I have in mind. Will add more.

**During Odd Sem**
- Introductory session (the one with the attendance compulsory notice)
- Introduction to programming (I was thinking about exposing juniors to different languages so that they
  more options to choose from when looking for orgs during GSoC etc)
  - Intro to Python
  - Intro to JS
  - Intro to C++
- Intro to Competitive Prog

[2018-04-29 15:01] arijeetsat commented on #3
A platform for sharing own projects, also college semester projects details, reports (OOPS, DEC, AEC , MPMC etc.), lab works, resources as well as a Q&A forum, for queries related to academic as well as non-academics stuffs.

[2018-04-29 15:36] palash25 commented on #3
@arijeetsat updated the description the previous one was a result of my messed up sense of humour, my apologies for that. Hope you like this one.

[2018-04-29 17:22] palash25 opened #10 "Organize MLH / Any kind of hackathon"
@shibasisp and I had this conversation a while back on slack to organize a major league hackathon in our college https://mlh.io/
Seems like a distant dream but might be possible

These folks might be able to help us, Check it:
 http://hacksociety.tech/

<blockquote><img src="https://mlh.io/assets/logos/mlh-facebook-25d486805087489b3649b9bbcac66957.jpg" width="48" align="right"><div>Major League Ha

[2018-04-29 17:32] knrt10 commented on #7
Lets roll with it. Let's discuss the implementation.

[2018-04-29 17:42] debck commented on #9
How about session on  how to get into GSoC  and other open source programs ?

[2018-04-29 17:48] sr6033 commented on #9
That can be included too. Also @palash25 move the ML session to odd sem as 4th years may not be there during even sem.

[2018-04-29 17:53] knrt10 commented on #7
http://openhub.net/

[2018-04-29 17:56] knrt10 commented on #7
http://openhub.net/

[2018-04-29 17:59] knrt10 commented on #7
http://openhub.net/

[2018-04-29 18:12] palash25 opened #11 "Ideas for competitions"
- Bhubaneswar Winter of Code

I don't have any other ideas with me currently so if anyone does please post them here. Owners are welcome to edit the description directly.

[2018-04-29 18:13] palash25 commented on #7
Lets do that after failing in TOC :laughing:

[2018-04-29 18:13] palash25 commented on #7
You can start discussing it just comment below if you want.

[2018-04-29 18:33] palash25 opened #12 "Get Github benefits for the org"
I'm currently enrolled in the Github campus expert training. If my application is accepted we will be able to get the following benefits for our org

**The repo is private so I will  just quote from their docs**

[code]

[2018-04-29 18:35] ayush1999 commented on #10
Well even if we're not able to organise MLH, I think we should definitely try to organise atleast one hackathon. Maybe get in touch with various organisers from now itself.

[2018-04-29 18:40] knrt10 commented on #12
@palash25 page not found .

[2018-04-29 18:43] hdidwania commented on #9
I think those of us who are interested in hardware and robotics, can take a session on basics of arduino. For last two years, we have been exposed to Atmega and ARM microcontrollers which aren't quite beginner friendly in my opinion. So we can add this to odd semester.

[2018-04-29 18:49] sr6033 commented on #10
This is something that is most important. We tried a lot to organise one but we neither got any support nor any funding from tech society. To be frank, programming has been marginalised even when it was the most active out of all. So I wish this doesn't repeat again.

[2018-04-29 18:53] sr6033 commented on #7
Also get in touch with linuxday.org. I was in contact with them last year to organise a linux devfest under their banner in college. It was not implemented but u can try this year.

[2018-04-29 19:15] palash25 commented on #12
@knrt10 click on the link and you will find the page
I think there is something wrong with the bot maybe it cannot unfurl annotated links you should raise an issue on probot

[2018-04-29 19:15] palash25 commented on #7
Will do for sure.

[2018-04-29 19:24] hdidwania commented on #9
RaspberryPi is a good option, but I wont suggest anyone who wants to just explore this field to invest on pi. On contrary Arduino is cheap and easily available. Maybe once people are comfortable with arduino we can advice them to move to more real stuff like AVR, ARM or even PI.
We need to work with the hardware and robotics wing(if you can call technetronic that) for such sessions though.

[2018-04-29 19:25] palash25 commented on #12
@knrt10 updated check it out

[2018-04-29 19:34] sr6033 commented on #10
That is why this club has to remain independent. Let's see.

[2018-04-29 20:12] palash25 commented on #1
Work has already been started on this here https://github.com/p-society/Online-Judge by @IamRaviTejaG and @knrt10

[2018-04-30 05:14] palash25 opened #13 "Set up a TOR node in campus"
It would be worth a try to try an set up a **TOR middle node** in our campus once we are listed as an official Mozilla Campus Club.

Listed as one of the activities of the Mozilla Campus Clubs
See:
- https://campus.mozilla.community/activities/
- https://www.eff.org/torchallenge/tor-on-campus.html

[2018-04-30 05:18] palash25 opened #14 "Bring docker to our campus"
Individual(s) responsible: @palash25

[2018-04-30 08:18] palash25 opened #15 "WebApp to book turns for the washing machine"
A web or mobile app (or both) with the following features:
- As soon as someone dumps their washing into the machine they update the status of that machine as
  busy or occupied and once they are done change it to vacant
- It will keep tabs on all the machines in the hostel showing which ones are vacant and which ones are
  occupied.

**Stretch Goal**: To verify whether the user has actually occup

[2018-04-30 08:44] Rupeshiya commented on #12
@palash25  page not found (404)

[2018-04-30 08:47] knrt10 commented on #12
@Rupeshiya

	- Access to funding in support of your open source club activities.
	- An upgrade for your student Organization to a paid org, on the "Team" tier.
	- Access to the GitHub Grant for your event!
	- We'll send you printed cheat sheets and learning materials for your workshops.

[2018-04-30 08:49] Rupeshiya commented on #12
@knrt10  yep  😂

[2018-04-30 08:57] sr6033 commented on #13
This is an important issue.

[2018-04-30 10:17] palash25 commented on #13
If we can accomplish this we might be able to make a strong case for an OWASP chapter  https://github.com/p-society/goals/issues/6

[2018-04-30 12:57] palash25 opened #16 "Start a Node School chapter"
I'm not sure whether we need this or not but it might be beneficial to start a conversation at least.

@knrt10 and @IamRaviTejaG would you two be interested in leading this effort and finding out more about it?

I guess Bhubaneswar doesn't have a chapter currently.

Important links:-

https://nodeschool.io/

https://nodeschool.io/chapters.html

https://nodeschool.io/about.html

<blockquote><img sr

[2018-04-30 16:32] palash25 opened #17 "Papers We Love Bhubaneswar chapter"
To increase the interest in research this might be a good idea. Papers we love is a global community of programmers and engineers who regularly organize a meetup and talk about their favourite research papers.

Currently there is no Bhubaneswar chapter maybe we can apply for one. I'm not sure how difficult it actually is. I would need help from people interested in research.

cc @ayush1999 @hdidwa

[2018-05-01 09:22] palash25 opened #18 "Start CSI Chapter / Ideas to revive ACM chapter"
Not sure how much it would help but I have seen other colleges with a CSI chapter do well in terms of research. We might want to look into it.

cc @hdidwania @shivank01 @ayush1999

[2018-05-01 10:45] palash25 opened #19 "Online Presence"
- ~~A medium account to start a blog.~~
- ~~An official Twitter account for the programming society.~~
- ~~A LinkedIn page (mentioned as a not for profit organization)~~

Comment down with more ideas if you have any.

[2018-05-01 11:36] shivank01 commented on #18
@palash25 The fee to open the chapter is Rs.5000 .  Will college give this amount to open the chapter?

[2018-05-01 12:28] ayush1999 commented on #18
@shivank01 They should if we pressurize them. Seeing how Jena spends, I don't think 5000 would be a big amount for him.

[2018-05-01 12:38] shivank01 commented on #18
Okay, then we will try to open this chapter as it is really good.

[2018-05-01 12:41] sr6033 commented on #18
I had contacted the CSI bbsr head this semester. He was really willing to open up a chapter here. He also said that they will fund any events if we are organising and they find them to be quite good and helpful. I hadn't told u guys but this chapter is going to be opened next semester somehow.

[2018-05-01 12:42] ankitjha97 commented on #18
Why don't you people take over the ACM chapter.It will be a good platform too.You will be connected to student chapters across all over India and even organize competitions at All India Level.We didn't have a big team this session but you can have a look at ACM chapters of BITS Pilani and others.They have an impressive team.You can make a big team for upcoming sem and it is well funded by Placemen

[2018-05-01 12:45] sr6033 commented on #18
That too. Ankit and I was planning to have some of you in ACM and both these clubs should work together.

[2018-05-01 12:45] ayush1999 commented on #18
Sounds like a great idea. @ankitjha97 . What do think @shivank01 @hdidwania ?

[2018-05-01 12:47] shivank01 commented on #18
yeah great

[2018-05-01 12:47] sr6033 commented on #18
Also instead of opening up many chapters, focusing on the existing and making them more active will be better, i suppose.

[2018-05-01 12:58] ankitjha97 commented on #18
Look, there are many competitions organized at All India Level among the ACM chapters and they award the best ACM chapters.If we have a good team, then we can surely make a mark and get known which can attract a lot of attention to our college.Last year ACM Bits Pilani won the prestigious award for best ACM.This year, if you have a strong, then you will surely win this award.

[2018-05-01 16:54] palash25 commented on #18
@ankitjha97 I saw the BITS-ACM site and the events that they conduct. Its something that we could do too.

@sr6033 is right about reviving existing chapters but even if we have multiple chapters two or more chapters can work in tandem to conduct events that way all the chapter will have activities to showcase on their websites and none of them will go dormant. We can also organize a few programmin

[2018-05-01 17:12] shivank01 commented on #18
I think we should setup Papers we love Bhubaneswar chapter #17  as it is quite different from others.

[2018-05-01 17:13] hdidwania commented on #18
I think we can maintain a hierarchy for smooth functioning. Under TeSoc, we have two wings: the hardware and robotics wing- Technetronic, and the coding and software wing- PSoc. We both must collaborate and work together for smooth functioning as well as the improvement of Tech culture in college as a whole. Any other bodies, like some student chapter, can act as a supporting body to these wings.

[2018-05-01 17:32] palash25 commented on #18
@shivank01 would you be willing to lead that effort. I can help you with (founding the chapter) it whenever you want but I need someone to take the initiative. If you want to do it then keep me posted.

Do we come under the tech society I thought we were independent and unrecognized? I used to think that technotronics and T-Soc are two separate official bodies recognized by the college and we are

[2018-05-01 17:36] shivank01 commented on #18
@palash25  yeah I am ready to take the initiative to open the chapter.

[2018-05-01 17:39] hdidwania commented on #18
There is nothing official in technetronic, as far as I understand. There is only one officially recognized club i.e. the tech society which receives all the funds from the college for the tech related stuff. Similarly, we PSoc, are not an official body as per the college and not completely independent, because as far as my understanding goes, we need to take funds from TeSoc for conducting events.

[2018-05-01 17:42] arijeetsat commented on #18
Yeah that's a better idea ,in my opinion, we should take the benefits of all the chapters and collaboratively contribute to the tech culture of the college, since different chapters will have certain parameters to keep them active on a national level (i.e report submission, event summaries, annual awards etc.), that part can be taken care by the heads of those chapters.

[2018-05-01 17:45] arijeetsat commented on #18
And the college can grow on all the platforms at all level collectively.
Resources + Activities +Outreach + National Recognititon  --->> Full Growth

[2018-05-01 17:47] palash25 commented on #18
Very well put together :clap: @arijeetsat

[2018-05-01 17:47] palash25 commented on #16
ping @IamRaviTejaG @knrt10 can you guys look into this? whether it would be beneficial or not?

[2018-05-01 17:49] knrt10 commented on #16
Will depend on the participation of students.

[2018-05-01 17:50] hdidwania commented on #17
The idea is great and seems feasible. I looked at the meetup events of Hyderabad chapter, and noticed an average attendance of 5-7, which is something I think we can achieve. We may be able to collaborate with other colleges and let other institutes be a part of such meetups. Its a feasible idea. We can work on it.

[2018-05-01 17:50] palash25 commented on #16
We can't predict that. What I meant was if we get participation would we benefit from having a node school chapter? If not then feel free to close this.

[2018-05-01 17:52] palash25 commented on #17
Hosting students from outside great idea :+1:

You and Shivank should coordinate on this and keep me updated. Ayush can help too if he wants.

[2018-05-01 17:53] palash25 commented on #12
My bad the repo I refrenced is private and only I have access to it which I forgot :sweat_smile:  @Rupeshiya

[2018-05-01 17:59] knrt10 opened #20 "CLI for typeracer.com (https://github.com/p-society/typeracer-cli)"
I am going to work on 1st project for p-society a CLI tool for http://play.typeracer.com/ . I am open to any suggestion. Implementation for local support won't be anything new cause online site is already there. So please suggest any idea how would you like to see it work in command line.

<blockquote><img src="http://typeracer-cdn.appspot.com/opensocial/images/TyperacerThumb64px.png" width="48" a

[2018-05-01 18:06] palash25 opened #21 "Nullptr on Telegram"
This could just be my opinion but I don't really like using whatsapp. I'm on my laptop most of the time and checking whatsapp everytime there is a message on nullptr is distracting.

Can we migrate to telegram, we can use it phone as well for quick communication whenever we are having sessions or meetings and it also has a desktop client which whatsapp doesn't have and whatsapp web sucks.

I need

[2018-05-01 18:12] palash25 commented on #20
How will you make this work?

Will it be completely offline? The paragraphs could be saved in a DB and the users can enjoy this offline practice mode

Online: Does typeracer have an API that we can use?

I would recommend you to go with both online (competitions) and offline (practice) modes.

I am also willing to develop it with you it sounds cool and I love cli tools.

[2018-05-01 18:13] knrt10 commented on #20
Always happy to work with you mah mayne.

[2018-05-01 18:14] palash25 commented on #20
Always leave a new line after a blockquote to separate the quoted text from your comment.

[2018-05-01 18:26] knrt10 commented on #20
As far as api is concerned we can make our own.

[2018-05-01 18:33] hdidwania commented on #8
Much required. In this way we can divide ourselves to specifically focus on some particular topics. Will also be a great way for conducting smooth discussions/sessions

[2018-05-01 18:34] arijeetsat opened #22 "Monthly Competitive Coding Challenges (Online / Offline)"
Discussion regarding the monthly coding challenges can be done here. Have to decide the platform, duration, competition type, etc. @bkhanale  Prateek Pattnaik @sr6033  @nawedx .

[2018-05-01 18:37] palash25 commented on #22
Please add  Prateek Pattnaik to the org I don't know his github handle

[2018-05-01 18:38] palash25 commented on #22
Monthly coding events can be done on online platforms like hackerearth codechef etc and for onsite events like swig and code and principium we can host them on our judge that we are currently developing it will be custom made to suit our requirements.

[2018-05-01 18:39] palash25 commented on #22
@bkhanale can you set up campus chapters for Hackerrank or codechef maybe we can get them as sponsors for Advaita if we maintain active chapters.

[2018-05-01 18:45] shibasisp commented on #21
Yeah, telegram is great. It doesn't limit the number of users.Telegram bots can be built and is free unlike slack. However most people in our college don't use telegram and I am afraid they will not be active as they are active on WhatsApp. It will be hard to persuade people to move.
Let's try though!

[2018-05-01 18:47] palash25 commented on #22
Yes please @bkhanale that would be great

[2018-05-01 18:48] palash25 commented on #22
Can anyone ask Swapnil Sourabh and Abhishek Patel to accept the invites and become active here we need all the help that we can.

[2018-05-01 18:49] arijeetsat commented on #22
@bkhanale  Keep a watch at all other opportunities regarding competitive coding events, so that we can get max. incentives and resources as well as outreach.

[2018-05-01 18:50] bkhanale commented on #22
There would be few demands from their side as well. They basically need us to cover the travelling expenses and accommodation costs. Though if he had planned to come to Bhubaneswar at that time then the costs would reduce.

[2018-05-01 18:57] arijeetsat commented on #22
That part can be taken care by the Tech Club funds and all.

[2018-05-01 18:59] bkhanale commented on #21
Yes, telegram would be great!

[2018-05-01 19:01] palash25 commented on #21
If more than half of the members say yes to this we will migrate

[2018-05-01 19:01] palash25 commented on #22
We have those? Do we ever get to use them?

[2018-05-01 19:05] shivank01 commented on #21
Yes,It would be great.

[2018-05-01 19:07] hdidwania commented on #21
+1 in favor of migration from my side.

[2018-05-01 19:13] ayush1999 commented on #21
Yes!

[2018-05-01 19:15] gupta2140 commented on #21
Cool.

On Wed 2 May, 2018, 12:43 AM Ayush Shridhar, <notifications@github.com>
wrote:

[2018-05-01 19:15] shivank01 commented on #22
@bkhanale @palash25 Inviting Anup Kalbalia would be great. We can also think about inviting Gaurav Sen. He has recently given Tech Talks on competitive programming in some NIT's.

[2018-05-01 20:36] palash25 opened #24 "Invite tech speakers to deliver talks"
Some of the developers that I had in mind
- [Tapsweni Pathak](https://github.com/tapasweni-pathak)
- [Vaishali Thakkar](https://github.com/nerdyvaishali)

Sugessted by @bkhanale and @shivank01
- [Gaurav Sen](https://www.linkedin.com/in/gaurav-sen-56b6a941/)
- [Anup Kalbalia](https://www.linkedin.com/in/anupkalbalia/)

[2018-05-01 20:36] palash25 commented on #22
See  #24

[2018-05-02 01:13] IamRaviTejaG commented on #21
Yes, let's migrate to Telegram!

[2018-05-02 02:02] IamRaviTejaG commented on #16
@knrt10 @palash25 Correct me if I'm wrong, but isn't Node just a framework for building a server, or is it more?! So, if it's just the former, having a chapter seems like an overkill to me, else, I'm fine with the school chapter. 😄

[2018-05-02 03:36] knrt10 commented on #16
Thats where you are wrong my friend, node is way beyond that. Anyway closing this issue as it won’t be of much use. So ☮️

[2018-05-02 03:36] #16 closed

[2018-05-02 04:39] ankitjha97 commented on #24
Why not have a look at it
https://india.acm.org/

You can invite a Current ACM Speaker of any field by contacting the ACM India for free if you are Position holder of ACM Student Chapter.The only thing you need to do is send a proposal at least a month before.

[2018-05-02 04:40] palash25 commented on #24
Will definitely look into it :+1: thanks @ankitjha97

[2018-05-02 04:41] ankitjha97 commented on #11
Machine Learning Hackathon on a Quarterly basis.

[2018-05-02 04:45] knrt10 commented on #20
Work started here
https://github.com/p-society/typeracer-cli

[2018-05-02 04:56] palash25 opened #25 "Quizzeratti Web App"
An app to host quizzes and keep a track of scores of all praticipants during quizzerati sessions

[2018-05-02 05:40] ankitjha97 commented on #24
@shibasisp, you have any suggestions for this.

[2018-05-02 06:28] arijeetsat commented on #24
Inviting Tech. Speakers and Leaders this year , should be a prime objective, we all can try to get as many contacts as we can.

[2018-05-02 06:31] arijeetsat commented on #24
Great Idea @ankitjha97  , also other chapters benefits will be helpful.

[2018-05-02 07:00] palash25 commented on #18
If we can get enough technical writers this year then maybe we can start our own tech magazine.
I've seen IITR do it. Under their ACM they run an online magazine called Geek Gazette https://geekgazette.org/about/

[2018-05-02 07:05] palash25 commented on #15
@swap1108 can you mentor @nayonika1999 on this? It might require some knowledge of IoT

[2018-05-02 10:50] palash25 opened #26 "List of Grants"
This thread will serve as a list to hold all the possible grants we or the future batches can apply to fund projects on open source development or community building
- [Mozilla Mini Grants](https://science.mozilla.org/blog/2018-mini-grant-rfp)
- Google Microgrants (currently can't find a link related to it but they used to award it maybe the programme has been deprecated, will try to look into it

[2018-05-02 10:52] palash25 opened #27 "Mozilla Science Lab Study Group"
If there is an open science enthusiast among us they might want to look at Mozilla's open science programme and start a study group in Bhubaneswar if they can find enough interested people.

https://science.mozilla.org/

<blockquote><img src="https://science.mozilla.org/assets/img/og-logo.png" width="48" align="right"><div><img src="https://science.mozilla.org/assets/favicons/favicon-32.png" heigh

[2018-05-02 11:06] arijeetsat commented on #26
I have collected some of the grants available, one can have a look at these, some are for individuals and some are for colleges funds and sponsors :

Microsoft

https://www.microsoft.com/en-us/research/lab/microsoft-research-india/
https://www.microsoft.com/en-us/research/academic-program/data-science-award/

Intel
https://www.intel.com/content/www/us/en/education/highered/research-centers.html
ht

[2018-05-02 12:18] palash25 commented on #26
This is great thanks :+1:

[2018-05-02 12:29] arijeetsat commented on #26
I will suggest , anyone coming across such grants or perks , please do share it here or on Slack.

[2018-05-02 12:32] arijeetsat commented on #26
Actually, I was planning to apply for the **Intel Ambassador program,** but they are asking for deep knowledge in Deep Learning, so its better if @hdidwania  and @ankitjha97  should apply for the developer mesh and accordingly can apply for the college resource grants.

[2018-05-02 14:39] swap1108 commented on #15
@palash25 ya I can help @nayonika1999 if she needs. It requires application of IoT as you have already mentioned, and we need to link it to the mobile app with the help of cloud computing.  It can be an interesting project !

[2018-05-02 14:44] swap1108 commented on #25
@palash25  if people with web dev  skills come together, we can surely do it. I hope it would not take much time .

[2018-05-02 14:53] palash25 commented on #25
I only @knrt10 @IamRaviTejaG and I think you also have experience with webdev. Even I have a little experience with writing backends in Flask. We can surely do it together. @swap1108

Half of our current issues are webdev so it would take as many devs as we can get to complete all the projects. If you know of any other devs from our college then let me know.

[2018-05-02 14:55] nayonika1999 commented on #15
Ofcourse @swap1108 I'd need your help..  I m totally a newbie in this field and would love to be mentored by you in knowing new concepts and implementing them in the project.

[2018-05-02 14:59] palash25 commented on #15
You two discuss the approach required to complete this project. @nayonika1999 will write most of the initial code as she needs to learn once she has an MVP ready @swap1108 you could start coding with her.

I think the IOT stuff would need to discussed in person I'm not sure if it can be discussed remotely (if it can be then that's great) but till then I think @nayonika1999 should get started on th

[2018-05-02 15:04] swap1108 commented on #25
Ya sure it will be fine. I can contribute in it. I know Ankesh of IT who knows webdev and seems eager to contribute in such projects. We can even ask Jevesh and Subhash Manohari (IT) to be a part in it.

[2018-05-02 15:05] nayonika1999 commented on #15
Though I have good experience of coding,yet concepts like IOT and app development are totally new..But I assure you i'm gonna pick up the slack very soon this summer.

[2018-05-02 15:06] palash25 commented on #25
Tell them to keep an eye on this repo.

[2018-05-02 15:16] swap1108 commented on #15
Ya sure from next sem. If people with common skills flock together, something better can be done. I'm open to any help from my side.

[2018-05-02 15:16] sibasish14 commented on #15
Just a suggestion guys(this probably is a later part of the project and maybe just a minor add-on).....
@nayonika1999 mentioned using a "book time-slot feature". I'm suggesting limiting the maximum no. of bookings to something like "twice per person per week".  To reduce traffic maybe.

[2018-05-02 15:32] knrt10 commented on #15
He would kill the app maker.

[2018-05-02 15:33] debck commented on #19
I think creating a LinkedIn organisation would also be good ....

[2018-05-02 15:48] palash25 commented on #19
@debck I was just going to add that :smile:
thanks for reminding me.

[2018-05-02 15:51] palash25 commented on #15
Woah woah woah do you want to scare the 1st years away? @knrt10

[2018-05-02 15:56] sibasish14 commented on #15
Maybe we can provide @ayush1999 with some special privileges, so that he spares the app-makers' lives :P
**no offence intended :)

[2018-05-02 15:57] debck commented on #19
😉😀😀

[2018-05-02 16:07] palash25 commented on #15
:laughing:

[2018-05-02 16:37] arijeetsat commented on #25
I have sent the invitation to Ankit Choudhary and Anmol Saxena, they will joining soon. 👍

[2018-05-02 16:42] palash25 commented on #25
Please post comments related to the issue thread. :smile:

[2018-05-02 17:08] knrt10 opened #28 "test"
just a test

[2018-05-02 17:10] knrt10 commented on #28
messi

[2018-05-02 17:10] #28 closed

[2018-05-03 03:46] ankitjha97 commented on #26
@arijeetsat, I will apply for it.

[2018-05-03 03:56] ankitjha97 commented on #26
I have gone through it and I think the ratings which we give to the mentioned domain matters and since there has been not so remarkable research work in Machine learning by the 3rd year and 2nd years, I think its better to postpone it and wait until someone publishes their work.

[2018-05-03 04:02] ankitjha97 commented on #9
Why not have Introduction to Functional Programming?
It's quite cool.

[2018-05-03 08:08] palash25 commented on #9
I had that in mind forgot to add it to the description.

[2018-05-03 09:15] arijeetsat commented on #26
I think we can show some of projects going on right now by sone teams , like the one led by AKD Sir , sone individual projects ,though we dont hv many published works but we can still try.
Moreover , AKD sir was planning something similar to get some resources for the college so you can be in touch with him regarding this.

[2018-05-03 11:29] ankitjha97 commented on #18
@palash25, @shivank01, @ayush1999, @arijeetsat, if you people want to be the part of ACM next session, you can make a team of approx 10 members by tomorrow and give the names to me so that I can forward it to Debashish Sir.
It can be good opportunity because you can organize events under the umbrella of ACM without worrying about funding and compete with other chapters.It's quite fun and with good

[2018-05-03 11:40] palash25 commented on #18
I'm in favour of that I think we should conduct events under both ACM and the programming society

[2018-05-03 12:16] ankitjha97 commented on #18
Exactly, the main idea is to create an interactive and productive environment.ACM has many resources which can be properly utilized to organize diverse events.

[2018-05-03 13:55] shivank01 commented on #18
Ok.. We'll give you the list by tomorrow

[2018-05-03 15:54] ayush1999 commented on #18
I'm in.

[2018-05-03 17:01] palash25 commented on #18
Lets decide over here how many are in to be the part of the next ACM team.

I asked @knrt10 he is in (we need a webdev lead any way to build and maintain the ACM site)

@ayush1999 @shivank01 and I are in.

I think @arijeetsat would also like to be a part of the team (we would need his awesome management during all the events)

What about you folks @hdidwania @AbhiRepository @bkhanale @swap1108 @Ia

[2018-05-03 18:51] AbhiRepository commented on #18
Me too

[2018-05-03 19:32] palash25 commented on #18
Duly noted. I wasn't aware about your interest in research too :sweat_smile: .

[2018-05-04 08:04] palash25 commented on #6
There used to be an OWASP chapter in bbs but its now inactive. We can restart it again.
https://www.owasp.org/index.php/Bhubaneswar

[2018-05-04 20:24] nawedx commented on #21
Its late to vote but I would have voted yes.

[2018-05-04 21:14] sr6033 commented on #22
I wanted to bring Anup this semester only but we fell short of budget. Make sure to keep a separate fund either from ACM or TECH for speakers from the beginning.

[2018-05-04 21:24] sr6033 commented on #18
Plan out and include those who will work actively.

[2018-05-05 04:25] palash25 commented on #21
This has been done already. Closing it.

[2018-05-05 04:25] #21 closed

[2018-05-05 08:14] IamRaviTejaG commented on #18
I'm in too!

[2018-05-05 09:05] Rupeshiya opened #29 "GSoCer's blog IIIT Bh"
I think there should also be a blog which  contains  the journey from start to end ,experience and suggestions for GSoC aspirants  and for any other info we can contact GSoCer's of our college too.
What do you think @palash25  ?

[2018-05-05 09:11] palash25 commented on #29
Nice idea but every GSoCer writes their own blog, so writing or copy pasting articles for another blog leads to duplication of effort which I don't like.

I would like to suggest a few modifications to your idea. Instead of building a blog from scratch you might want to consider building a blog aggregator site that collects and archives blog from every GSoCer's RSS feed.

This seems more practical

[2018-05-05 09:14] Rupeshiya commented on #29
yep it will be better to have that.👌👍 .

[2018-05-05 09:26] Rupeshiya commented on #29
Definately we hope too.

[2018-05-05 09:26] palash25 commented on #22
For what do we have to spend money on? Is it airfare? Can't these speakers just buy their own flight tickets? I mean they are all working professionals.

[2018-05-05 09:51] palash25 commented on #24
Btw would there be any problem in getting the necessary permissions to organize such talks in the mini audi? I mean the college administration would let us organize such talks right?

If we are clear on that front then I would like to start talking to these two speakers
    Tapsweni Pathak
    Vaishali Thakkar

[2018-05-06 03:55] arijeetsat commented on #24
I dont think there would be any problem with the permission , as the speakers are eminent ,TT wont deny.

[2018-05-06 04:01] arijeetsat commented on #22
There are some terms these speakers follows , we have to talk to them before hand about that, as far as it is possible , hospitality wont be a problem from tech club side but travelling budget is something to think about.

[2018-05-06 12:37] palash25 commented on #24
Great I will try to get in touch with them in a few days

[2018-05-06 12:42] arijeetsat commented on #24
The speaks and talks should be planned in such a way, so as to cover the entire semester, so its better , if you all can tell me who are contacting whom for the speaks for the time being?

[2018-05-06 12:44] palash25 commented on #22
I'm all for hospitality but I'm not in favor of calling speakers who work for well-established startups and large conglomerates but ask students to pay for their airfare. Its okay if these speakers are students themselves then we can think about paying for their tickets.

But that's just me sharing my opinion and if you guys unanimously decide to call a speaker and fund for their air travel I won'

[2018-05-06 12:45] palash25 commented on #24
In a few days I'll let you know.
I'll will be contacting these two
    Tapsweni Pathak
    Vaishali Thakkar

[2018-05-06 13:17] arijeetsat commented on #22
@palash25 can you please ,merge the speaker discussion to one issue only. Kind of staggered ho raha hai.

[2018-05-06 16:59] palash25 commented on #22
Actually there is no need to merge the issue we just need to stop talking about tech talks on this thread. Not sure who started and deviated us from this issue, I've lost all context.

[2018-05-07 17:14] palash25 commented on #19
Done https://twitter.com/psociiit

[2018-05-07 17:54] palash25 commented on #20
Since the MVP has been coded and implemented by @knrt10 we can close this now.

[2018-05-07 17:54] #20 closed

[2018-05-09 06:35] ankitjha97 commented on #18
By now, the team is:
@palash25
@ayush1999
@arijeetsat
@shivank01
@AbhiRepository
@IamRaviTejaG

[2018-05-09 06:36] ankitjha97 commented on #18
@knrt10 is also there.
If anyone else wants to join, please write here.

[2018-05-09 07:53] bkhanale commented on #18
I'm in too!

On Wed 9 May, 2018, 12:06 PM ankitjha97, <notifications@github.com> wrote:

[2018-05-09 08:02] palash25 commented on #18
can someone ask @swap1108 too ?

[2018-05-09 10:13] chiral-carbon commented on #18
I want to join!

[2018-05-09 10:14] chiral-carbon commented on #18
Sorry for the delay, haven't been getting a good signal for the last few days

[2018-05-09 13:39] palash25 opened #30 "Set up accounts for online donation platforms"
Recently we saw one of our project's typeracer-cli (written by our webdev ninja @knrt10 ) gain some popularity with more than 30 stars currently (not all from society members a few of the stargazers are GSoCers from other colleges too). One of @knrt10 personal projects cloudinary-cli got recognition from cloudinary.com itself.

If nifty hacks like the aformentioned projects get so much recognition

[2018-05-09 13:54] arijeetsat commented on #30
Ok, there is no problem in asking for donation ,there are many open source softwares that do so.

[2018-05-09 13:55] arijeetsat commented on #30
Since , fund raising is a point here, I was thinking of an Alumni Fund. What are your opinion guys?.

[2018-05-09 14:02] palash25 commented on #30
You mean when we start our jobs we donate to the alumni fund? I like that too.

[2018-05-09 14:05] arijeetsat commented on #30
Even, the present alumni can donate, if you remember we had an Alumi meet, that helped in creating a networking among present student and alumnus, also its present in many other colleges.

[2018-05-09 14:05] palash25 commented on #30
Wasn't there.

[2018-05-09 14:07] arijeetsat commented on #30
Just give me a thought abt it, we can open it this year if planned.

[2018-05-09 14:07] palash25 commented on #30
Fine then @arijeetsat you will be incharge of the Alumni fund then.

[2018-05-09 14:10] arijeetsat opened #31 "Opening an Alumni Fund of IIIT-Bh"
We can have an Alumni Fund for the present alumni and future alumni to donate for the budgets of the tech. club of the college.

Guys , do express your thought about this.

[2018-05-09 14:12] palash25 commented on #30
But @arijeetsat if we setup an alumni fund wouldn't that be controlled by the college administration and we would have to beg them again for money? If that is the case can you make a separate issue for Alumni funds.

[2018-05-09 14:12] arijeetsat commented on #30
Shifting Alumni Network and Alumni fund to a new issue.

[2018-05-09 14:13] knrt10 commented on #30
Cool thing to do. I am in.

[2018-05-09 14:13] arijeetsat commented on #31
Ya @palash25  , if we will open an alumni fund , college administration  will definitely control it , since its a fund matter.

[2018-05-09 14:15] arijeetsat commented on #31
And then there will be a new club for alumi matters ,new secretary , blah blah.

[2018-05-09 14:17] palash25 commented on #31
More bureaucracy can we somehow make sure that the Alumni fund would only be reserved for tech and not the cult society. Maybe the Alumni can fill an option to donate to the tech or cult society @arijeetsat

[2018-05-09 14:18] arijeetsat commented on #31
Yup ,was abt to write that only.

[2018-05-09 14:19] arijeetsat commented on #31
Something like that can be done, and then it will completely be the donor's choice to donate for any particular society, may be Tech. , FATS , NAPS whatever.

[2018-05-10 05:28] palash25 commented on #17
@shivank01 can you please post some update regarding this issue. I saw the repository you made, are we done with? What are the next steps we need to take for this?

[2018-05-10 05:51] hdidwania commented on #17
As per PWL's page:

So we need to put up a issue here: https://github.com/papers-we-love/organizers/issues
and wait for their response. Let us go through other chapter request issues in order to understand what they want and expect, in order to write a good proposal. We can draft one in 3-4 days at max. But I suggest we do this at the later stages of the vacation, because we can not hold any sessi

[2018-05-10 05:54] palash25 commented on #17
Agreed lets get back to this in July @hdidwania

[2018-05-10 06:05] shivank01 commented on #17
@palash25 @hdidwania I saw some of the the proposals and their responses. They are asking for atleast 2 organisers and ~15 members in the first meetup. Also, They want us to decide the place where all the future meetups wil be organised.

[2018-05-10 06:08] shivank01 commented on #17
Till now we have the following members in the team:-
- @hdidwania
- @palash25
- @IamRaviTejaG
- @AbhiRepository
- @ayush1999
- @shivank01

[2018-05-10 06:09] palash25 commented on #17
The place can be one of the AGs

Organizers can be any two of us.

We can also add first years that are interested to become members ask on slack lets see how many of them are.

[2018-05-10 06:11] hdidwania commented on #17
We have the organizers and I guess we can expect a participation of 15 in the first one (I hope, the coding community of college will help with this). For the place, we can tell them that we would be conducting in the institute itself.

For long term goals, we need to get in touch with people involved in research, from our college, as well as other institutes, to make the chapter better. And maybe

[2018-05-10 06:13] palash25 commented on #17
bias? I didn't get you?

[2018-05-10 06:16] hdidwania commented on #17
Bias in the sense that we 3 or 4 of us primarily work on ML, and will tend to discuss more on that field. We can make the chapter activity diversified by including others who focus on other fields as well. That will bring more variance to the chapter, maybe, which would be good.

[2018-05-10 06:18] palash25 commented on #17
I tend to read a lot on distributed systems and blockchain. Even @IamRaviTejaG know quite a bit about blockchain so I think we need not worry about that. Also the first years might make our chapter a bit more diversified.

[2018-05-10 06:26] arijeetsat commented on #17
Sure, its the new way of networking routers and switches communication. Eventually all the communication services will adopt this software defined networking .

[2018-05-10 06:28] arijeetsat commented on #17
@hdidwania Put some checkpoints to this issue. We will cover it before August.

[2018-05-10 10:26] ayush1999 commented on #31
Guys, I had a brief discussion with Anirudha bhaiya regarding this. Excerpts:

**Anirudha Bose:**
  I am not available for the next 4 or 5 months since I'll be busy with a collaboration, outside my day job.
You really shouldn't set the dates for an alumni meet based on one person's availability. I've also learnt that very few people showed up at the last alumni meet. To get the alumni to agree on

[2018-05-10 10:30] arijeetsat commented on #31
Residency Program ,seems to be a great idea, have to think upon ,how to implement it and whether we will be able to keep it active throughout the year or not.

[2018-05-10 17:08] palash25 opened #32 "Residency Program to improve female participation in software development"
Can anyone look into some of the Residency programs being offered by other colleges?

cc @arijeetsat @ayush1999

[2018-05-10 17:12] ayush1999 commented on #32
I'll have a look. Although I should warn you that such a program will require lots of efforts, as it revolved around the whims of the alumni. Plus, it should involve a good participation from the students, otherwise there isn't really a point of all this.

[2018-05-10 17:25] arijeetsat commented on #32
We will give it a try , if it will be within comfort zone ,then surely we will implement it.

Zabardasti kuch bhi nahi karna hai. Thats first.

[2018-05-10 17:36] palash25 commented on #32
Good point.
I think we should do some kind of session just with the girls of our college to find out whether they are actually interested or not. There is no point in putting in so much effort if the people we are doing it for don't participate.

Let's do this after our introductory session in August call the first year and second year girls and find out whether they will be interested or not.

cc

[2018-05-10 17:49] palash25 commented on #32
We will see how many girls turn up for such a session and then decide whether to take this forward or not. If its just one or two girls like you then we can mentor them ourselves.

[2018-05-10 17:50] arijeetsat commented on #32
@palash25 I have some confusion here, why are we linking Residency program ro girls participation??

[2018-05-10 17:51] nayonika1999 commented on #32
I hope girls turn out in impressive number.

[2018-05-10 17:56] palash25 commented on #32
Because the Residency program is for girls. Read the message that Ayush posted and what Anirudh bhaiya said. Have a look at what he said especially the pronouns that he used

He was talking about female alumni from our college now working as software devs.

This was actually in reply to a comment I made on LinkedIn a few days ago when he asked me about the zero female participation
Read this whole

[2018-05-10 18:06] arijeetsat commented on #32
Yeah pretty clear now, after reading the Linkedin conversation.👍

[2018-05-11 14:01] palash25 commented on #4
Programming society is now a Mozilla Campus Club. :tada: ![](https://res.cloudinary.com/dpft7mwni/image/upload/v1526046705/campusclubs_zfrclx.png)

I am the club captain and @IamRaviTejaG is my co-captain. This doesn't introduce some kind of hierarchy in our club and we will work together, the same way as we used to before. This only means that @IamRaviTejaG and I will be responsible for keeping M

[2018-05-11 14:02] knrt10 commented on #4
Yippe.. thats so messi and ronaldo!!!

[2018-05-11 14:14] palash25 commented on #4
Closing this. Thank you all for your appreciation :smile:

[2018-05-11 14:14] #4 closed

[2018-05-11 14:41] palash25 commented on #18
Now its 10 of us

[2018-05-11 15:22] geekysrm commented on #18
I didn't see this earlier bros.
Count me in too. :)

[2018-05-11 15:30] palash25 commented on #18
11

[2018-05-11 15:39] RajuKalidindi commented on #18
Count me in as well.
Sorry for the delay

[2018-05-11 15:40] palash25 commented on #18
12 I hope this is final now.

[2018-05-11 15:46] gupta2140 commented on #18
I'm in too. Sorry for the delay. Hadn't noticed this before.

[2018-05-11 15:47] knrt10 commented on #18
Lol maza aa rha hei. Now I waiting for PP's reply

[2018-05-11 15:55] knrt10 opened #33 "CLI tool idea. Video---> Mp3"
Just an idea. If anyone find this interesting please comment and also if anyone finds that there is already a CLI tool for that, then also please comment with link to that tool.

[2018-05-11 15:55] IamRaviTejaG commented on #30
@palash25 Do we accept Bitcoin? 😛

[2018-05-11 15:56] knrt10 commented on #30
@IamRaviTejaG kuch mere ko bhej de.

[2018-05-11 16:09] ankitjha97 commented on #18
How many of you are part of other societies?
Since ACM and Programming Society will be collaborating together, I think it would be better to make sure that anyone of you is not over-burdened.
So please wisely put forward your names.

[2018-05-11 16:11] IamRaviTejaG commented on #33
I assume you want to extract audio from a video file. **FFmpeg** gets the job done, and is extremely powerful. Infact, majority of the video converter softwares you find online use it for encoding, decoding, transcoding purposes. You can find all the relevant details here: https://www.ffmpeg.org/

If you intend to convert YouTube videos to audio, you can do it using **youtube-dl**. Find more info

[2018-05-11 16:12] knrt10 commented on #33
Damm. Thanks, Closing this as this won't be useful.

[2018-05-11 16:12] #33 closed

[2018-05-11 16:45] palash25 commented on #30
Bitcoin, ether, monero, we will accept everything @IamRaviTejaG

Go earn some on Gitcoin @knrt10  and don't you already have some BTC thanks to me :wink:

[2018-05-11 16:47] palash25 commented on #18
I think with the exception of 2 or 3 who have put forth their names all the rest are programming society members.

[2018-05-11 17:02] bkhanale opened #34 "HeatJam Online Programming Contest on CodeChef"
We have decided to conduct a new programming contest **HeatJam** on CodeChef in association with ACM Club and Programming Society. Currently, following people are assigned with the task:

Problem Setters: @ankitjha97 , @SamHenry97
Problem Tester/Admin: @bkhanale

Now, there are no prizes decided yet. I need to know if there is any need on including prizes provided the problems will be original and

[2018-05-11 17:09] palash25 commented on #34
For posters @IamRaviTejaG

We need a few more designers and illustrators we can't dump all the work on Ravi.

@nayonika1999 @debck @sibasish14 @nebula001 you know anyone in the first year that is interested or has some experience with illustrator or photoshop

[2018-05-11 17:11] nebula001 commented on #34
Yes I know someone but have to ask him whether he will do or not.

[2018-05-11 17:12] palash25 commented on #34
Ask him and inform us on this thread

[2018-05-11 17:14] nebula001 commented on #34
Okay, will inform you soon.

[2018-05-11 17:40] palash25 opened #35 "New Logo"
@sr6033 on slack asked me to get someone to design a better logo. I kind of like our current one with the black background but suggestions for improvement or even the redesign of the current logo our welcome.

cc @IamRaviTejaG your thoughts?

![](http://res.cloudinary.com/dpft7mwni/image/upload/v1526060361/20953554_1954946628083395_1460884193752370788_n_lmbixc.jpg)

[2018-05-11 17:48] arijeetsat commented on #34
@bkhanale I think , lets not keep any prize for this contest for the time being. We can have prizes for later competitions.

[2018-05-11 18:16] IamRaviTejaG commented on #35
I'd suggest a redesign of the logo.

[2018-05-11 18:18] shivank01 commented on #34
@bkhanale Can you ask codechef for ladoos for winner? if possible

[2018-05-11 19:28] nawedx opened #36 "Mission Statement of p-society"
A mission statement will be a guiding light for us. In addition to creating a mission statement lets also establish a formal Code of Conduct.

Since we have become a organisation not just a casual society, so now these things are important. Almost every serious organisation has both of these.

[2018-05-11 19:46] nebula001 commented on #34
@legion3 can make the poster @palash25

[2018-05-12 03:49] arijeetsat commented on #36
Its a good idea to have a completely established organisation, with proper Code of Conduct and proper functioning.

Let's all propose some code of conduct , also there must be some already provided by Mozilla Campus Club as well. We can combine them all to form a final draft.

[2018-05-12 04:04] palash25 commented on #36
I was actually going to open this issue but thanks @nawedx for doing it for me. Yes, @arijeetsat I completely agree with you we need all sorts of documents to decide our future direction and Code of Conduct. Plus we also need Contributing guides, PR and Issue templates and we need to have a discussion about the licences that our different projects will use.

I will open separate issues for each so

[2018-05-12 04:14] bkhanale commented on #34
@shivank01 The laddus depend upon the problems. If the problems are original and their editorials are well prepared and posted, they can issue laddus. Also, participation plays an important role. If there are not many participants they simply cannot issue laddus.

This time we are preparing editorials along with the problems. But, the participation is something which we cannot control. I'll still

[2018-05-12 04:17] arijeetsat commented on #34
Participation depends on the domain of the competition, is the competition only for our college students??

[2018-05-12 04:32] bkhanale commented on #34
@arijeetsat I'll be inviting some really good programmers for competition if the problems are good enough. I'm eagerly looking for my brother @abhishalya, he will give a good competition. He's in 9th grade and is doing far better in competitive programming. Also, he is a big open-source fan. He had participated in Google Code-in 2018. @palash25 maybe you can guide him a little.

[2018-05-12 04:55] palash25 commented on #34
@bkhanale sure I love to help people out with open source development but seeing that your brother has already participated in GCI I think he would already be familiar with it. Also, it is great to see a 9th grader get involved in competitive programming and OSS development. When I was his age all I knew was how to write a program to find out palindromes :laughing:

If he needs any help you can te

[2018-05-12 05:00] ankitjha97 commented on #34
Hi guys. My phone charger is not working and since there is an election today in Karnataka,I couldn't buy one, and so I will be coordinating through this page only.
If there is any task for ACM or for me, then directly reply to this message.
@bkhanale, you can drop any message here.
@arijeetsat  , ask the ACM team for funding the competition.

[2018-05-12 05:02] bkhanale commented on #34
@palash25 Sure, I will tell him about it. Also, you knew how to write a palindrome program when you were in 9th! At that age I wasn't having any idea on "programs" and palindrome would have been a totally strange word :P

[2018-05-12 05:07] palash25 commented on #34
See how far you've come now. We can all learn from you.

[2018-05-12 07:12] bkhanale commented on #34
@ankitjha97 I have your credentials. Give me your mail so that I can mail you those.

[2018-05-12 08:36] ankitjha97 commented on #34
ankitjhadelhi97@gmail.com

[2018-05-12 10:02] palash25 commented on #35
So @sr6033 wants us to get a professional to design our new logo. We would need to pay for that. I think if all of us chip in with a little money we can get this done. Anyone who wants to contribute comment on this thread. Let's also discuss possible designers for the logo over here.

We should also integrate the Mozilla Campus Club logo into ours. ![](https://res.cloudinary.com/dpft7mwni/image/up

[2018-05-12 10:05] arijeetsat commented on #35
How much amount will be needed? And do we really need professional designer, all our college poster were designed by college students only at the time of Advaita.

[2018-05-12 10:06] palash25 commented on #35
@sr6033 asked me to get professional help for the logo on slack. But if a student comes up with a really good design I think that would be great.

[2018-05-12 11:18] hdidwania commented on #35
Is it necessary to integrate mozilla campus club logo with it? (I mean to ask does mozilla expects/asks us to do so?)

Think from my perspective, we are P-Soc, the programming club of IIIT-Bh. P-Soc is our identity. We can say that we partnered with mozilla campus clubs, or ACM Student Chapter, or any other chapters/body we open in future, for perks and benefits. Like these bodies are sort of supp

[2018-05-12 11:26] arijeetsat commented on #35
Good point by @hdidwania and I completely agree with that , even if we are integrating with Mozilla Club , keep it as another part, and lets keep the identity of P-Soc . In the long run ,its important to have unique society of our college. We may be submitting reports to ACM or Mozilla ,that can be formulated easily, but lets keep P-Soc as individual body.

[2018-05-12 11:28] palash25 commented on #35
We kind of are now. But its okay if you dont want the Mozilla logo integrated with ours that was just an idea. I don't think its compulsory for mozilla campus clubs to change their logo.

I'm going to wait for other people to comment on logo ideas and see where it takes us. In the end the decision will be unanimous.

[2018-05-12 11:32] palash25 commented on #35
Maybe we can have our own unique p-soc logo along with it at the bottom we can write.
**Programming Society IIIT-Bh**
    *A Mozilla Campus Club*

[2018-05-12 11:43] hdidwania commented on #35
Yes, we can do this.

[2018-05-12 12:01] shivank01 commented on #35
@palash25 @arijeetsat @hdidwania We can also contact uttariyo saha(etc or eee branch). He is a professional logo designer. May be he can help us in this.

[2018-05-12 12:02] arijeetsat commented on #35
Yup, lets see if we can get some contacts with other students as well.

[2018-05-12 12:30] palash25 commented on #35
Can someone contact him or he is on Github can someone invite him to be a part of the discussion on this thread?

[2018-05-13 04:35] IamRaviTejaG commented on #35
@palash25 @arijeetsat @hdidwania @shivank01

We can contact Soumya Ranjan Bishi bhaiya. He's an alumni and is a professional designer. Advaita's logo (VA) is his design. I'll contact him regarding the P-Society logo. Will be posting updates here.

[2018-05-13 04:37] sr6033 commented on #35
I can talk with him. I am working with him here in param. But we are a lot busy. I don't think he can find out time.

[2018-05-13 04:40] IamRaviTejaG commented on #35
@sr6033 Please talk to him and try your best to convince him. He is really really good at designing, so we can expect a really good logo design from him.

[2018-05-13 04:58] knrt10 commented on #35
Whatever decision you all make I am cool with that.

[2018-05-13 14:03] IamRaviTejaG opened #37 "Notes & Quick Start Guides"
Inspired from @palash25's repository (https://github.com/palash25/Notes), I'd like to suggest having a Notes/Quick Start guides repo for the society. Anyone can contribute notes and guides to this repo via PRs.

This would help newcomers get started with technologies, programming languages, etc.

[2018-05-13 14:12] palash25 commented on #37
Notes about what?

[2018-05-13 14:39] palash25 commented on #37
Sure. Maybe you can fork mine and add more to those. That way everyone can contribute and we would have  a bigger and better collection and my origin would remain untouched and everyone will be happy :tada:

[2018-05-13 14:40] IamRaviTejaG commented on #37
Yeah, pretty cool!

[2018-05-14 15:11] bkhanale commented on #34
The contest page is created [here](https://www.codechef.com/HJ2018). Once the problems are ready we have to add them to the test page for testing purposes and for that we have to mail CodeChef. So, its better if we prepare the problems a bit before the expected time. Also, we need the editorial prepared along with the problem (The problem won't be added unless its editorial is prepared along with

[2018-05-15 14:50] palash25 opened #38 "Add all p-soc projects to openhub"
Openhub is a site that collects analytics from open source projects based on many categories. Contributors to the added projects can claim their commits from https://www.openhub.net/ and display them on your profile. The process for this is long and tedious and I will be incharge for it.

I will be starting with getting the typeracer-cli on openhub which should get accepted pretty quickly since a

[2018-05-17 09:26] bkhanale commented on #34
The prizes are confirmed by CodeChef:
1. Top 2 Participants: 250 laddus
2. Top 1 School Participant: 250 laddus
There are no cash prizes declared.

One problem has been added to the test page by @Samhenry97. I would like to know the status of problems from others as well.

[2018-05-17 10:19] arijeetsat commented on #34
Its good to have ladoos as the prize, great lead, have they demanded for any minimum number of participants?
And who else are the problem setters?

[2018-05-17 10:28] arijeetsat commented on #34
Oh Yeah cool, so, we have to share about the competition in some other colleges as well.
Which all colleges are you inviting people from?

[2018-05-17 10:33] bkhanale commented on #34
I have few friends who might join us. But, majority participation is expected from our college itself. I don't have many contacts, so maybe you can help inviting people.

[2018-05-17 10:42] arijeetsat commented on #34
Okay, we should start inviting people from other colleges, @palash25  @shivank01  please do share with all your contacts.

[2018-05-20 04:37] ankitjha97 opened #39 "PORs for Upcoming Session"
@palash25 @arijeetsat @IamRaviTejaG @nawedx @chiral-carbon @bkhanale @shivank01 @knrt10 @gupta2140 @ayush1999 @geekysrm , check it out.

**ACM Team**:

_Treasurer_ - Abhipsha
_Chairman_ - Arijeet
_Vice Chairman_- Bhushan
_Secretary_ - Shivank
_Web Master_ - Kautilya
_Competitive Programming  Lead_ - Bhushan
_Open source Lead_ - Aman Gupta
_Data Science Lead_ - Ayush Sridhar
_Web Team Lead_ - Soumy

[2018-05-20 04:41] ankitjha97 commented on #39
The decision has been taken by internal discussion between the previous PORs of ACM and Psociety.The PORs have been decided by considering each one of you's participation in the previous session and some others who couldn't be a part of the list can join as a member because it is the will to work which matters the most.

[2018-05-20 04:45] ankitjha97 commented on #39
I wish each one of **All The Best** and you all are equally capable so make the best use of your tenure.

[2018-05-20 04:47] arijeetsat commented on #39
Great team all together ,including those not mentioned here, It's gonna be the best year for Tech. Of IIIT-Bh, all will be working together, supporting others, and thats the way its going to be achieved. All the Best to this year team!!!😊😊💐👌

[2018-05-20 05:09] arijeetsat commented on #19
All Done, Closing this issue.

[2018-05-20 05:09] #19 closed

[2018-05-20 06:15] palash25 commented on #38
This is a long-term goal and I will do it once we have enought projects that are actively maintained.
Will be done maybe after a year or so.

[2018-05-20 15:04] #39 closed

[2018-05-21 03:54] knrt10 commented on #7
@IamRaviTejaG would you please make a 16by16 icon for p-society website.

[2018-05-21 09:37] arijeetsat commented on #35
For the new logo , I have talked to Manish Ray of CE , he is very proficient at this, in some days he will be giving us some sample, lets wait for it. 👍

[2018-05-21 18:10] ayush1999 opened #40 "Partner recommendation system"
Seeing the growing need among students (and professors maybe, sighting a recent case) to find a partner , I propose to implement a partner recommendation system, which will search a partner for you from the college itself, based on the information you input. So you could describe the characteristics of the partner you're looking for, and the system will search one for you. Think of it as Intra-III

[2018-05-22 01:45] palash25 commented on #40
So you want something like an OkCupid but for our college only.

Are you talking about that recent incident that traumatized us all :laughing: ?

Just to be sure this app will be a secret amongst students right? Because if the faculties get to know then TT will be furious and might ban us or some shizz

Maybe in this case (and I don't wanna start a war) but CLI tools are always better

Since it is

[2018-05-22 03:16] knrt10 commented on #40
@palash25 dude that was unscripted and out of the box.

Kamleshhhhhhhh.

I got no problem. Like sapat. Haich nahi..
Although most work @ayush1999 will do. So I am cool.

[2018-05-22 04:01] ankitjha97 commented on #40
Finally, some work required ML.
Count me in too.
@ayush1999 what are you thinking of applying.

[2018-05-22 04:09] ayush1999 commented on #40
@ankitjha97 First of all, I think we'd need to come up with a set of features that a person might look for in his date. Such as personality, appearance, and similar attributes. Depending on these, we could decide the architecture to implement . What do you think?

[2018-05-22 04:11] arijeetsat commented on #40
Great idea to work upon, well we have to keep it little secretive else there will be no less than a DC (saying this by experience with college people).😂😂

Once done on our college level, it can definitely be expanded to a larger domain. So, Cool👌

@hdidwania have a look.

[2018-05-22 04:18] palash25 commented on #40
I love the new label @knrt10 but I am not sure whether this is appropriate or not.

[2018-05-22 04:34] hdidwania commented on #40
We need to think on some points-
1) How does tool get to collect information/features.
2) How to avoid fake information, which may lead to bad predictions.
3) Dataset.
4) Use of NLP/CV maybe to extract some features
and many more..
Well this will be awesome. Let's put Tinder out of business.

[2018-05-22 05:20] shivank01 commented on #40
@ayush1999 Count me in too.

[2018-05-22 07:04] ankitjha97 commented on #40
@ayush1999 , the idea on which the Recommender System works goes like this:
              1) There a matrix containing ratings of all the users to the items(movies, songs).
              2) From this matrix we apply ways to find the recommendation.These ways include:
                         a) User Based: In this we group users of similar types
                         b) Item based: In this we g

[2018-05-22 07:06] ankitjha97 commented on #40
@hdidwania , yes we should aim big and replacing them is not a big task. There is one site called betterhalf.ai which uses AI to predict matches. It's still in its development phase and so figuring out the algos is tough for the present moment.

[2018-05-22 07:16] hdidwania commented on #40
The biggest drawback of Tinder, I feel, is it works around pretension and presentation. Before swiping, one only has access to some photos and a little bio. These things can easily be made up by anyone and faked. We can try to match features which are better than images, features like interests.
Since we are starting with the domain of college, everyone in the domain has quite a lot of common feat

[2018-05-22 07:25] ayush1999 commented on #40
I was thinking that maybe we could take natural language as input in the later stages. For now, suppose we have the feature of Movie Taste (similar to what @hdidwania just said). For starters, we could map the various sub-categories inside this to different  numbers. So the app would ask you your movie taste, with different options, such as:

1. Action
2. Comedy
3. Thriller
4. Romance
.
.
.
And we

[2018-05-22 07:31] ayush1999 commented on #40
So at the end, the input we'd have for the network would be just a set of numbers (depending on the users inputs). We can then build the model on this basis.
Any ideas? @ankitjha97 @shivank01 @hdidwania

[2018-05-22 08:11] ankitjha97 commented on #40
I think we should migrate to some other group for the confidentiality of the model.

[2018-05-22 15:39] hdidwania commented on #40
So we would have many variables as inputs, all of type discrete numbers. We also need to think whether to keep it as a classification problem, outputting 1/0 or a regression problem, outputting maybe a similarity score between 0 to 1.

[2018-05-22 17:09] arijeetsat commented on #40
Yup, its really a great idea, and much more can be planned by you people, so don't keep it open for now, better discuss it in a private group. Later keep adding up people, who show their interest over here.

[2018-05-22 18:43] banerjee29r commented on #40
I think if we are talking the input as integer value for the variables like people mentioned above regression is highly suited for it.We can also have a personality based partner recommendation app for which we need to take inputs for a personality test and on the basis of that test inputs we can run a classification algorithm to match.

[2018-05-22 19:03] ankitjha97 commented on #40
@ayush1999,  not necessarily integers. They should be one one-hot encoded so that each separate category falls into a different dimension. Assigning only integer values can lead to errors and building of a false relationship between categories based on the closeness of integers in case of regression.

[2018-05-22 19:04] ankitjha97 commented on #40
@ayush1999 @hdidwania @shivank01, this is where we can exploit unsupervised learning.

[2018-05-22 19:06] ankitjha97 commented on #40
Someone create a group on telegram and add me in.

[2018-05-23 02:48] shivank01 commented on #40
I agree we should keep it one hot encoded.

Yeah, I think unsupervised learning will work well here.

[2018-05-23 07:28] Ajita15 commented on #40
Yeah in this case KNN can be used to group users based on similar interests. A group a neighborhood models will be useful.

[2018-05-23 10:10] knrt10 commented on #7
closing this as its implemented in github.com/p-society/p-society.github.io

[2018-05-23 10:10] #7 closed

[2018-05-23 15:22] hdidwania commented on #40
I like the KNN idea. This may work.

[2018-05-23 16:42] shivank01 commented on #40
As the conversation is moved to the telegram group.I am closing this issue. Anyone who wants to join it can join it through this link - https://t.me/joinchat/ImdqDBHmLgpvglhae6kElA .

[2018-05-23 16:42] #40 closed

[2018-05-24 07:49] sudoankit commented on #25
Good idea, full support!

[2018-05-26 04:29] palash25 commented on #34
Done shared :+1:

[2018-05-27 09:05] shivank01 commented on #34
@bkhanale  I think we should share this on the college mail id

[2018-05-27 09:07] arijeetsat commented on #34
Yup , go ahead ,send it to everyone. Also , I have shared in everywhere possible, still you do it. 👍

[2018-05-27 14:27] hdidwania opened #41 "Project: Deep Learning methods for attendance/authroisation automation"
I have been thinking that we can give the college some automation by using Deep Learning, and save the students from unnecessary and stupid procedures (like signing on register while leaving campus, etc). Also maybe we can think of a better attendance system (e.g. camera to scan ID cards of students while entering class, maybe?). There is a lot of room of automation in the institute, which can yie

[2018-05-28 05:33] ayush1999 commented on #41
I don't really have a good knowledge about MPMC and electronics stuff, but how do you propose to use Deep Learning to automate events like signing on the register while leaving campus? Also, in full support of implementing scanner for IDs inside classrooms, atleast it'd make the process of proxy simpler.

[2018-05-28 06:00] hdidwania commented on #41
I thought that we may implement a face recognition system which can use cameras installed at main gate to automatically detect and recognise students moving in and out of campus and hence automatically putting up the names in database, hence not requiring anyone to go in and sign that stupid stuff up. But this again, has lot of challenges, and maybe used by college authorities against us students.

[2018-05-28 06:07] saiamrit commented on #41
For the attendance system may be we can keep it simply to a web app that can just use web cam to capture face and recognise face and automatically update attendance database.we can try out with a openCV thing or else write a deep net.

[2018-05-28 07:57] ankitjha97 commented on #41
@hdidwania , it's quite simpler one.There a library called dlib which you can check. Main think is to integrate it.

[2018-05-29 04:13] bkhanale commented on #34
The contest is over. Unfortunately we did not get any good participation. We found that going for a closed contest isn't good enough. Hence, next time onward there would only be open contests. Also, we are again negotiating with CodeChef for revised status on the prizes. The winners will be mailed separately for the status on their prizes. Closing this issue now, no need of any further discussion.

[2018-05-29 04:13] #34 closed

[2018-05-29 05:09] IamRaviTejaG commented on #41
(like signing on register while leaving campus, etc).
----- SNIP -----

How about placing a QR code at the exit point, and make an app where the user will stay logged in using his Mandaar UMS credentials, and once he scans the QR, he is granted exit permission and the permission stays alive for 6 hours (assuming you leave at 5.30 PM & return at 9.30 PM, even then you have a cushion of 2 hours extr

[2018-05-29 06:18] arijeetsat commented on #41
This same thing one of our senior has shown to Director sir, he said "there is no need, we also don't want to bind you ", if someone will implement face recognition system, then that he can accept.

[2018-05-30 16:24] ankitjha97 opened #42 "Kaggle Community"
India has the 2nd highest community in Kaggle and it is a great and dynamic platform to learn.
Those who want to participate in kaggle competitions and kernels can reply to this issue so that we all work together as a team because it will be very easy to learn and get popular on kaggle if we participate together. In this way, our college will gain a good reputation in Data Science and Machine Lear

[2018-05-30 17:04] ayush1999 commented on #42
Sounds great. Also, it'd be better if we could arrange them in the labs for a few hours. LAN and GPUs(if a few computers in the lab have it) could be used for learning and participating.

[2018-05-30 17:17] shivank01 commented on #42
Yeah, It will be great. I want to be a part of this.

[2018-05-30 17:19] palash25 commented on #35
Any updates @arijeetsat ?

[2018-05-30 17:20] #5 closed

[2018-05-30 17:42] arijeetsat commented on #35
Will contact him again, any specific idea you people want in the logo?

[2018-05-30 17:59] palash25 commented on #35
It has been already discussed on this thread

[2018-05-31 02:12] ankitjha97 commented on #42
@ayush1999 , @shivank01 , could you folks please post it on slack so that we can have a dedicated group to it in the telegram. I am not there on slack.

[2018-05-31 02:47] arijeetsat commented on #35
Nothing about the design is mentioned, I mean does anybody have any particular design thing in mind like what shape/image should be there, that has to be added?

[2018-05-31 03:39] palash25 commented on #35
I don't but one thing you can do is give the guy these two images that have been posted and tell him to take inspiration from those.

[2018-05-31 04:52] shivank01 commented on #42
@ankitjha97 I have posted

[2018-05-31 05:54] saiamrit commented on #42
Good initiative @ankitjha97 ..I am in too.

[2018-05-31 06:04] saiamrit commented on #42
If its not possible to arrange systems then we can atleast ask for funds and buy some credits on cloud services.there are many like one is PaperSpace which provides completely configured linux virtual machines with GPU.You all can go through the pricing and details here ( https://www.paperspace.com/ml )

[2018-05-31 08:18] shivank01 commented on #42
@saiamrit  There is one more floydhub. It provides few hours of free GPU instance as well.

[2018-05-31 08:37] saiamrit commented on #42
Ya I know about floydhub and have seen the free package but the storage in the free package is less like 10gb. Its fine for small data at personal level but when we are planning for the college, a higher storage is required and floydhub is monthly billing but PaperSpace has monthly as well as hourly plan too.Any ways we can have these discussions on the telegram group.Lets form the group and dive

[2018-06-01 08:48] palash25 opened #43 "NVIDIA India's HPC Peer Communities"
I got this email from NVIDIA India a few days ago. It goes like this:

Please note these communities will not be used for NVIDIA marketing or promotion and intends to be technically focused. Please also mention when registering what you think the right digital medium should be (ex: WhatsApp, LinkedIn, Facebook groups, etc).
If interested in receiving an invitation, please email your name, title, o

[2018-06-01 09:30] saiamrit commented on #43
Hey this is a cool initiative.Lets think of applying for it and take advantage of perks from NVIDIA. @palash25 can you share the link to the details of program so that we can have a look at the aim of the program ?

[2018-06-01 09:35] saiamrit commented on #42
Guys someone please create a telegram group with people who replied to the slack thread.Lets have some discussion within one two days about the infrastructure requirements and other plans to encourage the budding Kagglers.

[2018-06-01 09:39] palash25 commented on #43
@saiamrit I am sorry but I don't have a link only the mail
I tried looking it up but couldn't find anything on their site

[2018-06-01 09:40] shivank01 commented on #43
@palash25 @saiamrit  My professor at IIT Bhu applied to this scheme last year and got Nvidia Titan Xp.

[2018-06-01 09:42] ankitjha97 commented on #43
@p-society/2019-batch @p-society/2020-batch , we should apply for this.

[2018-06-01 09:42] shivank01 commented on #43
He told me about that few days back. Actually every year professors from different colleges apply to this. Some selected institutes based on the projects gets support from Nvidia

[2018-06-01 09:43] saiamrit commented on #43
okay cool @ankitjha97 @hdidwania @shivank01 @AbhiRepository lets have a look into it.I guess Ajaya Sir might be having some idea about it because I remember once he had mentioned about NVIDIA offering him some hardware.

[2018-06-01 09:49] arijeetsat commented on #43
@ankitjha97, any reply regarding the Intel application??

Yes, Ajaya Sir can help , but the important thing is we have show good projects that are being carried out in our college.

[2018-06-01 15:07] palash25 commented on #43
ping @ayush1999 your thoughts?

[2018-06-01 15:18] hdidwania commented on #43
This is different than the scheme where NVIDIA provides free GPUs to professors/researchers (https://developer.nvidia.com/academic_gpu_seeding).
About the mail, the objective seems really unclear. Why does it seem they are looking to form a discussion forum/platform, which will most probably help NVIDIA know about the issues and challenges it's target community faces. I don't see enough of how can

[2018-06-02 05:29] ankitjha97 commented on #43
@arijeetsat , no email yet.

[2018-06-07 11:09] bkhanale commented on #24
I have got a green light from CodeChef for inviting Anup Kalbalia in the first week of September. They are asking to confirm the dates (they are booking tickets for now but I think they'll will ask for the costs later). So, we have to make suitable arrangements for this. Let me know the dates to convey.

[2018-06-07 15:10] arijeetsat commented on #24
@We have to finalise after checking the academic calendar and most prefered on Saturday or Sunday.So, lets decide accordingly.

[2018-06-08 09:40] arijeetsat commented on #24
Got something useful : https://github.com/siddharthkp/women-tech-speakers-in-india

[2018-06-08 09:41] palash25 commented on #24
They speak at conferences

[2018-06-08 09:42] arijeetsat commented on #24
May be useful at later stage , lets just have the resource for the time being 👍

[2018-06-08 10:44] nawedx commented on #35
Shape of the logo: Something that can fit into a circle of square
Design style : Cartoony/Doodly, Colorful

[2018-06-12 12:35] Ashugupta01 commented on #35
Can someone throw up any more suggestions for the logo? Maybe I can whip up one..

[2018-06-12 12:39] palash25 commented on #35
@p-society/2019-batch @p-society/2020-batch :point_up:

[2018-06-12 12:40] palash25 commented on #35
Read the whole thread and discuss your design on this thread :+1:  @Ashugupta01

[2018-06-12 12:43] Ashugupta01 commented on #35
okay...

[2018-06-21 15:14] palash25 commented on #38
Work started https://www.openhub.net/p/typeracer-cli

[2018-06-21 17:23] palash25 commented on #43
If there is no progress on this and if it is not a viable option for us then please someone close this.

[2018-06-21 17:27] arijeetsat commented on #43
It is viable option and still a issue we are keeping an eye on, lets not close it.

[2018-06-21 17:29] palash25 commented on #35
I don't see any progress from @Ashugupta01 on this and @sr6033 has already shown us a glimpse of the new logo so I am closing this in favour of that

@Ashugupta01 sorry about this but if you are interested in working with us there will be a lot more opportunities to work with us. Like designing posters for our upcoming sessions or Advaita.

If you are interested in any such work DM me on slack aro

[2018-06-21 17:29] #35 closed

[2018-06-21 17:32] palash25 commented on #43
Fine then I have assigned you to it. So that you can keep an eye on it and update it when the time comes you can close this :smile:

[2018-06-21 20:46] palash25 commented on #2
Just dumping a few links for future reference:
https://blog.sdslabs.co/2014/10/launching-backdoor
https://blog.sdslabs.co/2015/11/dockerizing-backdoor
https://blog.sdslabs.co/2015/04/announcing-phoenix
https://blog.sdslabs.co/2015/03/backdoor-internet-launch-and-scythectf
https://blog.sdslabs.co/2014/04/backdoor-ctf

[2018-06-23 11:14] arijeetsat commented on #17
Should cover this issue as college reopens.

[2018-06-23 11:24] arijeetsat opened #44 "Start CSI Chapter"
@shivank01 Do have a look for the procedures to open up the CSI chapter, I think for CSI, Paper We love and OWASP, we should try to open them up in August. Will be helpful to plan out the events accordingly.

[2018-06-23 11:25] #18 closed, assigned to hdidwania, palash25, shivank01, arijeetsat, ayush1999

[2018-06-23 11:30] arijeetsat commented on #22
**Update : The Coding Challenge for the month of May , successfully conducted. Codechef HEAT JAM May 2018**

[2018-06-23 11:30] arijeetsat commented on #6
http://www.tfaforms.com/308703 @palash25  have you filled the form for the procedures? Is Prajwal Singh in the group? He may take care of this one (security related chapter). If something in progress, let's just add a tag. 👍

[2018-06-23 11:33] arijeetsat commented on #24
We need to conduct a session in August end or Sept. , so have to decide a speaker for that, the kind of speaker we need is already decided on the telegram group, hence do suggest whom do we have on the list.

[2018-06-23 11:34] arijeetsat commented on #14
@palash25  What is it about? Looks so cool, give some reference?

[2018-06-23 11:36] arijeetsat commented on #25
@nawedx  Can you take this issue ahead? The idea is so cool, if possible some work or prototyping can be started.

[2018-06-23 11:37] palash25 commented on #14
It has been discontinued for now. I will post a link if this program starts again.

https://blog.docker.com/2017/05/announcing-docker-student-developer-kit-campus-ambassador-program/

[2018-06-23 11:38] arijeetsat commented on #26
@ankitjha97  any reply mail from Intel ?

[2018-06-23 11:39] palash25 commented on #6
I'm not sure if this would be possible since the Infosec people are not keen on collaborating with us.

But I would like to keep this open if things change in the future.

[2018-06-23 11:39] arijeetsat commented on #14
Ok this can be done later then, not necessarily in August. 👍

[2018-06-23 11:41] palash25 commented on #17
Shiwank will be working on this before the college reopens I think late July iirc

[2018-06-23 11:41] gupta2140 commented on #29
Late to comment, but you can build a crawler and add the URLs of the RSS feeds to a file. Then set it whatever duration you want and it will fetch all those GSoC blogs per cycle and list them/update up on your aggregator whenever a new post is needed. You can have a look at planet.kde.org or dot.kde.org  These are perfect and awesome working example of what you are looking for..

[2018-06-23 11:41] arijeetsat commented on #6
No no , we will not close this issue, I think need to have some talk with the infosec people, looks like all of them are busy. Security thing must also collaborate with the whole tech, after all its also a part of community building and outreach.

[2018-06-23 11:44] palash25 commented on #29
That is exactly what I just said refer: https://github.com/p-society/goals/issues/29#issuecomment-386791777

[2018-06-23 11:44] arijeetsat commented on #36
Big Thing this one , to be discussed in the first meeting itself in August.

[2018-06-23 11:45] palash25 commented on #6
You can try. But the way they left the telegram group without even giving a reason made me think that they are not interested in working with us

[2018-06-23 11:47] gupta2140 commented on #29
Yep, I just gave some sources which he can take inspiration from and understand its proper working.

[2018-06-23 11:47] arijeetsat commented on #42
@saiamrit , @hdidwania Can you take this discussion ahead, and put some update for it here.

[2018-06-23 11:54] arijeetsat commented on #17
Everyone is busy in internship stuff, hence keeping all such issues to be the target of August 2018.

[2018-06-23 11:56] arijeetsat commented on #27
@palash25  Do we need to focus on this , else we can keep it for later part of year, already a lot piled up.

[2018-06-23 14:32] arijeetsat commented on #27
Absolutely right @palash25  💯 🥇 😀

[2018-06-23 14:58] hdidwania commented on #42
Cool. Lets see what we can do for this.
We certainly need to act as a team (for the competitions are huge, tough and generally research based). Getting access to machines/cloud is a must for participating. We as an ML community can publish 2-3 kernels weekly which others can explore, and even carry on some workshop-ish like event where we can together work on a kernel, learning something useful.

[2018-06-23 14:59] arijeetsat commented on #42
Yeah great

[2018-06-26 15:45] Anwesh2 commented on #25
This is cool. Let's see it happen.

[2018-06-26 16:47] saiamrit opened #45 "Initiating the AI saturday Bhubaneswar chapter"
Initiating the AI saturday Bhubaneswar chapter to encourage and help beginners in top AI Moocs and hold problem solving sessions to give them hands on experience.

[2018-06-26 16:53] saiamrit commented on #45
Guys what are your opinions or suggestions for this initiative.

[2018-06-26 17:31] shivank01 commented on #45
Nice Initiative..

[2018-06-27 02:30] ankitjha97 commented on #45
I think 1 workshop could be sufficient.

[2018-06-27 04:18] saiamrit commented on #45
but @ankitjha97 in one workshop we cannot teach everything in that depth as much can be done by people taking the moocs. Through a workshop we can surely give an overview of all things but for proper learning taking a course will be helpful.

[2018-06-27 05:05] hdidwania commented on #45
Seems exciting, this initiative.

[2018-06-27 05:19] shivank01 commented on #44
@arijeetsat  I will look into it.

[2018-06-28 08:10] sonakshisaxena1 commented on #22
Can we have the competitive coding challenges every fortnight?
This will encourage people to learn and practice more. Also, it will help students to gain confidence regarding their coding skills which in turn will help them participate in more coding contests online.

[2018-06-28 08:18] arijeetsat commented on #22
Every fortnight is a good idea but we need more people to come forward to manage it, right now Bhushan and Prateek are the problem setters, if we will plan for every fortnight we can have then on Hackerearth and Codechef alternatively ,but again the same thing more people to come forward and take responsibility . Also we can allow students from other colleges and keep it open. More thoughts requir

[2018-06-28 08:20] sr6033 commented on #22
@arijeetsat @bkhanale make a list of potential problem setters. And then we can alternatively ask them to set questions for the events.

I and @ankitjha97 can also help occasionally.

[2018-06-28 08:29] bkhanale commented on #22
@sonakshisaxena1 Conducting contests on our own every fortnight would not be feasible. The most we can do is one contest per month. I have the list of problem setters with me, but certainly for getting one contest per month we will need more problem setters. Also, since Codeforces and Codechef have many short contests we can always promote them for participation. They have some quality problems an

[2018-06-28 08:36] arijeetsat commented on #22
Okay one thing, what is our main purpose of holding contests, lets be clear abt then the frequency matters.
As per me, we are holding them to encourage our students to participate in local contest ,compete against each other , also to maintain a CC culture.

Thoughts please??

[2018-06-28 08:39] palash25 commented on #22
I agree with @bkhanale on this. You cannot maintain this kind of frequency of contests we just don't have that many setters.

Also after a while, CP newbies will move onto real competitions like Long challenges and the popularity of these challenges will go down.

[2018-06-28 08:41] arijeetsat commented on #22
Monthly with good quality questions and more participation  is what we should focus on maintaing.👍👍

[2018-06-28 08:42] bkhanale commented on #22
@arijeetsat Yes, but just not competing but improve themselves, learn new concepts. We need more good programmers for competitions like CodeJam, Hackercup, ACM ICPC. And the Codechef long and Codeforces rounds do good job in learning part. To improve participation we need the local contests.

[2018-06-28 08:55] sr6033 commented on #22
One monthly challenge by the club and we can give some goodies to good performers in other challenges going on in codechef, hackerrank, codeforces etc etc,

[2018-06-29 09:05] sonakshisaxena1 commented on #22
Okay. I get the issue of setting up the problems.

But as @bkhanale said that there are many short contests available in Codechef/Codeforces, then can we gather up people and encourage them to give any selected contest together, in CG or some other rooms?

This will stop them to procrastinate about giving a contest someday and will also help them to discuss solutions and editorials together. They

[2018-06-29 09:12] arijeetsat commented on #22
This is something that has to be done, discussion on monthly challenges on the major platforms , at least Codechef, if not all. Also, for own competition, we also need to have editorials.

[2018-06-29 15:38] piyushmishra12 commented on #42
I want to be a part of it too!

[2018-07-02 13:47] palash25 opened #46 "Hackathon Slack Bot"
A few days ago @arijeetsat started a hackathons channel on slack and has been working pretty hard posting links to keep the channel active.

I would like to propose this project idea that can help us out in the hackathons channel. The idea is just to crawl a few websites like hacker earth and what not and post the links of upcoming hackathons to the channel.

*Optional:*
To make it more fun maybe

[2018-07-02 13:49] palash25 commented on #46
An advanced version of this is https://wolfbeacon.org/

But we don't need this its just to give you an idea.

<blockquote><img src="http://www.eonjohn.com/img/fav.png" width="48" align="right"><div><img src="https://wolfbeacon.org/img/fav.png" height="14"> WolfBeacon</div><div><strong><a href="http://www.wolfbeacon.com/">WolfBeacon</a></strong></div><div>WolfBeacon is a mobile-first platform to sy

[2018-07-02 13:50] palash25 commented on #46
We can do this with other channels too. Competitive coding has been inactive for a while and might need this. I will open an issue for it later

[2018-07-02 14:10] arijeetsat commented on #46
Damn good idea man!!! Those interested, do put your ideas. 😃

[2018-07-17 20:42] palash25 opened #47 "CTF Time CLI"
CTF Time is a website that tells you about upcoming CTF contests https://ctftime.org/

It would be a nice beginner project to write a CLI for displaying information from the site on the terminal.

Since a public API isn't available scraping info is the way to go.

To speed up lookup time on can look into threads and concurrency and maybe caching and memoization too.

Open for all. Comment before t

[2018-07-21 19:33] shivank01 commented on #17
I have opened the issue in papers-we-love organisation for setting up the chapter. You can track the issue [here](https://github.com/papers-we-love/organizers/issues/52)

[2018-07-21 19:40] ayush1999 commented on #17
@shivank01 Great. Small note: The link for the P society website  in your issue is incorrect. Can you correct it asap?

[2018-07-21 19:43] shivank01 commented on #17
@ayush1999 Done

[2018-07-21 20:23] knrt10 commented on #17
@shivank01 psoc link is changed please edit in paper-we love description. Its https://p-society.herokuapp.com

<blockquote><div><strong><a href="https://p-society.herokuapp.com/">P-society</a></strong></div></blockquote>

[2018-07-22 03:05] shivank01 commented on #17
@knrt10 done

[2018-07-22 03:12] shivank01 commented on #17
We have to choose any meetup group. We can either use meetup.com or facebook public group. As meetup.com is paid, we should go with facebook group. I will also talk to meetup.com if they can give us free trial for first few months. Meetup.com has an excellent RSVP system and a rich API which allows us to auto-generate the Upcoming meetups posts on paperswelove.org.

[2018-07-22 06:46] arijeetsat commented on #17
Good to go , I think meetup can provide us free trial for some months, after some months once set-up we can organise on FB groups,fb evens or if possible(as per funds) on meetup as well. :+1:

[2018-07-24 06:11] shivank01 commented on #17
We have now officially the papers-we-love chapter in bhubaneswar. You can check out our official repository [here](https://github.com/papers-we-love/bhubaneswar). After our first meetup our chapter name will be there on the official papers-we-love repository. I will be adding the other co-organizers by today.

[2018-07-24 06:12] hdidwania commented on #17
Well done Shivank. Lets make this thing a hit.

[2018-07-24 06:13] palash25 commented on #17
Noice :+1:

[2018-07-24 06:13] arijeetsat commented on #17
Great!!👌

[2018-07-24 09:31] shivank01 commented on #17
I have updated the repository and also set up the twitter account(link in readme). Also, I have sent the collaborator invite to all.

[2018-07-24 10:55] shivank01 commented on #17
We have to decide the date, theme, papers and speakers for our first meetup. Also, we have to let other colleges know that there is papers we love chapter in bhubaneswar. I think @nawedx can help us in this as he know people from other colleges as well.
CC: @arijeetsat @hdidwania @palash25 @ayush1999

[2018-07-24 11:10] hdidwania commented on #17
I think Nawed can help. First of all we need to share about this to our college's community as well as to other college's. Lets give it 10-12 days to get some members who know about it, and then decide to hold the opening session around the mid of next month.

[2018-07-24 11:28] arijeetsat commented on #17
Before that we need to frame a specific objective of the chapter, that we will be conveying to people and the main purpose of having this chapter in BBSR, someone please elaborate them.

[2018-07-24 11:31] arijeetsat commented on #17
As per the repo.
*  Come share the ideas in an awesome academic/research paper with fellow engineers, programmers, and paper-readers.
* Lead a session and show off code that you wrote that implements these ideas or just give us the lowdown about the paper.
* Otherwise, just come, listen, and discuss.

[2018-07-24 11:45] arijeetsat commented on #17
* https://paperswelove.org/chapter/hyderabad/
* https://paperswelove.org/chapter/bangalore/
* https://paperswelove.org/chapter/pune/

<blockquote><img src="http://paperswelove.org/images/papers-we-love-ogp.png" width="48" align="right"><div><img src="https://paperswelove.org/favicon.ico" height="14"> Papers We Love</div><div><strong><a href="http://paperswelove.org/chapter/hyderabad/">Chapter | Pa

[2018-08-10 18:22] nawedx commented on #17
Thank you guys for patience. I know I have been inactive for sometime. I am catching up. @shivank01 I have good contacts with some final year CETians. I am sure they will be interested in joining us in our Papers We Love sessions. Let's organize a session soon.

[2018-08-10 18:55] nawedx commented on #27
@palash25 You are a visioneer.

[2018-08-11 08:17] palash25 commented on #27
Arigato @nawedx :pray:

[2018-08-11 09:02] nawedx commented on #9
# Tentative schedule of events for Odd sem

1. Orientation -- 20th Aug (Mon)

2. Linux Fest -- 2nd Sep (Sun)

3. Intro to Python + Project -- 5th Sep (Wed) to 8th Sep (Sat)

4. Robotics Intro Session -- 9th Sep (Sun) to 11th Sep (Tue)

5. Intro to C++ -- 12th Sep (Wed) to 15th Sep (Sat)

6. Competitive Programming session -- 19th Sep (Wed) and 20th Sep (Thu)

7. Web and Mobile Development -- 3rd O

[2018-08-22 09:48] geekysrm opened #48 "IIIT complaint portal"
I am facing some problems in the college(read shitty internet) and I realized I have no where to go online to complain about it.
Other colleges have their own complaint portals:
IIIT KGP: http://www.hmc.iitkgp.ac.in/gportal/
BITS PILANI(Goa campus): http://csatimes.co.in/2016/08/04/hostel-room-complaint-goes-online/

etc.

Maybe our college has such a portal and I am unaware of it please let me kn

[2018-08-22 09:55] palash25 commented on #48
@arijeetsat @shivank01 any idea about this? If not maybe @geekysrm can build one. Another project for p-soc

[2018-08-22 11:53] arijeetsat commented on #48
Thank you @geekysrm for opening up this issue, i have once discussed this with @shivank01. Instead of naming it as complaints portal , let's name it as a forum, which will have different sections , where people can share their opinions, expectations from college authority or different clubs, also they can maintain their anonymity (if they want to). If the concerns regards the club activities then

[2018-08-22 11:54] arijeetsat commented on #48
Can be clubbed up with #issue3

[2018-08-22 13:03] sonu12485 commented on #48
Facing the same internet problem.
Good idea.
Very much needed.

[2018-08-22 13:32] shivank01 commented on #48
Yeah, We should build one. But if there is anonymity then someone may post shitty questions and feedbacks. Like the one in the last year "the tech society feedback google form".

[2018-08-22 13:34] arijeetsat commented on #48
It's ok , the moderator will manage that , anonymity is needed.

[2018-08-22 19:47] adityaprakash-bobby commented on #48
This can be one example : http://forum.iiit.ac.in/2017/?page_id=14

<blockquote><img src="http://forum.iiit.ac.in/2017/wp-content/themes/twentyten/favicon.ico" width="48" align="right"><div><strong><a href="http://forum.iiit.ac.in/2017/?page_id=14">Forums | IIIT-H Admission Forum</a></strong></div></blockquote>

[2018-08-23 12:28] geekysrm commented on #48
Just created a new repo, and will start working on it.
https://github.com/p-society/IIIT-forum

<blockquote><img src="https://avatars1.githubusercontent.com/u/29895434?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/p-society/IIIT-forum">p-society/IIIT-forum</a></strong></div><div>IIIT-f

[2018-08-23 12:28] #48 closed, assigned to nobody

[2018-08-30 17:13] sudoankit commented on #43
Hi, just chiming in, the PI needs to have a PhD degree to apply for this. We had thought to get a Nvidia P5000 for Visioneering through this but Ajaya Sir still hasn't got his PhD yet.

[2018-08-30 17:16] sudoankit commented on #42
Just a reminder, IIIT BBS has invested heavy on Microsoft Azure Cloud, ask for Azure ML if possible to the authorities. I doubt we can train students on Kaggle without dedicated hardware, minimum a GTX 1070 for vision tasks and >= GTX1060 for NLP, etc.

[2018-09-04 18:50] palash25 commented on #12
Done

[2018-09-04 18:50] #12 closed

[2019-08-16 03:59] dnabanita7 commented on #42
@saiamrit  Can I get updates on this? What about using [spotty](https://github.com/apls777/spotty) for training DL models which deploys it on AWS? It costs only Rs.2/- for registration and creating a bucket in AWS. Each spot instance costs less than 2 or 3 rupees. Here is the [user guideline](https://towardsdatascience.com/how-to-train-deep-learning-models-on-aws-spot-instances-using-spotty-8d9e05

[2019-08-24 13:06] dnabanita7 opened #49 "Sessions for 2019-20"
- The chronological order of sessions for PSoc as suggested on `nullptr` are:
1. Introduction to Competitive Programming (will plan in detail) @sibasish14 @PRIYANSUPULAK @niket @PritishN
2. Python : give them basic resources to learn and start implementing those on some pet projects (1.5 hrs for 2 days)  @piyushmishra12 @nebula001 @dax-1895 @sundarayamrita  @rkt-tryme @Naba7
3. Since, after DP eve

[2019-08-24 22:08] palash25 commented on #49
Hello :wave:

imo introducing too many cloud hosted to the first years might be too much of information, so I hope by this you mean that you will introduce them to one of them (github would be my recommendation) and just tell the names of the other services

so this was something that I wanted to do last year but couldn't and its also missing from this year's description. I wanted to show them the

[2019-08-25 04:27] dnabanita7 commented on #49
Hi

Yes, I meant the same. Introducing them to every other cloud based git services in 1st year will confuse them and make them less motivated.

By introducing to GitHub I mean not just explaining the terminologies used but making them raise an issue and create and merge a pr at the same time. We will make all the sessions more of hands-on rather than just explaining the theory. Most probably I th

[2019-08-25 08:00] palash25 commented on #49
you can use that, but that's not what I meant. I wanted someone to show them how to go about making a PR for an actual good first issue in an actual OSS projects, not just creating PRs in their own repos or forks. If that is possible.

[2019-08-25 09:05] kaygdotorg commented on #49
I can.

GitLab would be mine. It's completely OSS unlike GitHub.

I guess this is possible since a lot of projects have very trivial issues that people keep deferring..

[2019-08-25 09:08] palash25 commented on #49
Agreed I just find github's interface easier to grasp unlike gitlab which looks too detailed and cluttered to me, anyway you all can take a call on this

it could be something as small as this PR I made a few days ago https://github.com/nim-lang/Nim/pull/12000 An issue where you can tell them how to look for the related files, finding the relevant piece of code using something like `grep` and maki

[2019-08-25 09:25] kaygdotorg commented on #49
Oh, I think that's a brilliant approach. It gives them insight on filtering too.
And mate, when did you learn Nim?

[2019-08-25 09:42] palash25 commented on #49
I didn't just been wanting to, but the official site has a plethora of resources to learn from so maybe I will if I get the time.

[2019-08-25 10:10] palash25 commented on #8
I think this has already started with the creation of the aerial UAV sig, so this can be closed

[2019-08-25 10:10] #8 closed

[2019-08-25 12:42] dnabanita7 commented on #49
Yes sure.

Well I also like GitLab rather than GitHub. But considering the fact that freshmen year is introduced, GitHub will be better. Maybe we need a discussion on this with others.

[2019-10-01 17:54] dnabanita7 commented on #10
We can get grants from GitHub, so are we planning to organize one this year? @arijeetsat

[2019-10-02 07:41] arijeetsat commented on #10
A national-level hackathon both in software and hardware stream is planned in next semester. Regarding the budget requirement and collaborations, I will be discussing later, but yeah we will be having a hackathon this year.

[2019-10-02 07:43] #44 closed

[2019-10-06 14:20] dnabanita7 opened #50 "Become a Google DSC(Developer Student Club)"
What is the benefit of being a DSC lead?

- Grow your personal and professional network
- Lead a Google developer community
- Help students grow as developers
- Build real-life solutions to local problems in your community.
- Get access to Google Developers' resources and opportunities
- Be part of Google's Developer Ecosystem- https://developers.google.com/programs/
- Participate in a global Solu

[2019-10-06 15:32] debck commented on #50
@Naba7  I think we already have a DSC chapter in our college.
Hardik Singh Bhaiya is the lead.

[2019-10-06 15:36] arijeetsat commented on #50
Yup Contact Hardik and transfer the lead before the end of this year, Siddharth of EEE 2nd Yr is very active with the DSC lead, contact him and help him manage the activities.

[2019-10-06 17:36] dnabanita7 commented on #50
Yes, I know that. But we need an active lead for upcoming years.@debck
Alright then. I will talk to him. @arijeetsat
Closing this for now.

[2019-10-06 17:37] #50 closed, assigned to nobody